<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="/app/public/resources/js/moment.min.js"></script>
    <script type="text/javascript" src="/app/public/resources/js/chart.min.js"></script>
    <script type="text/javascript" src="/app/public/resources/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/app/public/resources/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/app/public/resources/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="/app/public/resources/js/jquery.datetimepicker.full.min.js"></script>
    <script type="text/javascript" src="/app/public/resources/js/Treant.js"></script>
    <script type="text/javascript" src="/app/public/resources/js/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="/app/public/resources/js/jquery.easing.js"></script>
    <script type="text/javascript" src="/app/public/resources/js/raphael.js"></script>
    <script type="text/javascript" src="/app/public/resources/js/perfect-scrollbar.js"></script>
    <script src="../app/public/resources/js/jquery.dragscroll.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/app/public/resources/css/jquery.dataTables.css"/>
    <link rel="stylesheet" href="/app/public/resources/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../app/public/resources/css/jquery.datetimepicker.css"/>
    <link rel="stylesheet" type="text/css" href="../app/public/resources/css/Treant.css"/>
    <link rel="stylesheet" type="text/css" href="../app/public/resources/css/perfect-scrollbar.css"/>
    <link rel="stylesheet" type="text/css" href="../app/public/resources/css/style.css"/>
    <title>{% block title %}{% endblock %}</title>

</head>
<body>

<div id="app"></div>


</body>
</html>