{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-3">
            <h1>Выборка из бд</h1>
            <form action="/" id="form1" method="post">
                <div class="input-group">
                    <span class="input-group-text">c</span><input type="datetime-local" name="time0" id="time0"
                                                                  class="form-control form-control-sm">
                    <span class="input-group-text">по</span><input type="datetime-local" name="time1" id="time1"
                                                                   class="form-control form-control-sm">
                </div>
                <br>
                <input type="text" name="message" id="message" placeholder="сообщение"
                       class="form-control form-control-sm"><br>
                <select id="lasttime" name="lasttime" class="form-select form-select-sm"
                        aria-label=".form-select-sm example">
                    <option selected disabled value="">За последнее время</option>
                    <option value="1">За последние 10 минут</option>
                    <option value="2">За последние 30 минут</option>
                    <option value="3">За последний час</option>
                    <option value="4">За последние сутки</option>
                    <option value="5">За последние 30 дней</option>
                </select><br>
                <input type="submit" class="btn btn-primary" value="Применить">
                <input type="reset" class="btn btn-secondary" value="Сбросить">
            </form>
            <div class="col">
                <canvas id="myChart" width="400" height="400"></canvas>
            </div>
        </div>
        <div class="col">
            <div class="table-responsive">
                <table class="table table-striped table-sm caption-top">
                    <caption>Количество строк: {{ result | length }}</caption>
                    <thead>
                    <tr>
                        <th scope="col">№</th>
                        <th scope="col" class="col-sm-5">Дата и время</th>
                        <th scope="col">Сообщение</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

</div>
<script>


    $(document).ready(function () {
        $("#form1").submit(function (event) {
            sendAjaxForm("form1");
            event.preventDefault();
        });
    });
    $('#time0').change(function () {
        $('#lasttime').val(null);
    });
    $('#time1').change(function () {
        $('#lasttime').val(null);
    });
    $('#lasttime').change(function () {
        var startDate = new Date();
        var now = new Date();
        var val = document.getElementsByName('lasttime')[0].value;

        switch (val) {
            case '1': {
                startDate.setMinutes(startDate.getMinutes() - 10);
                document.getElementsByName('time0')[0].value = moment(startDate).format('yyyy-MM-DDThh:mm');
                document.getElementsByName('time1')[0].value = moment(now).format('yyyy-MM-DDThh:mm');
                break;
            }

            case '2': {
                startDate.setMinutes(startDate.getMinutes() - 30);
                document.getElementsByName('time0')[0].value = moment(startDate).format('yyyy-MM-DDThh:mm');
                document.getElementsByName('time1')[0].value = moment(now).format('yyyy-MM-DDThh:mm');
                break;
            }

            case '3': {
                startDate.setHours(startDate.getHours() - 1);
                document.getElementsByName('time0')[0].value = moment(startDate).format('yyyy-MM-DDThh:mm');
                document.getElementsByName('time1')[0].value = moment(now).format('yyyy-MM-DDThh:mm');
                break;
            }

            case '4': {
                startDate.setHours(startDate.getHours() - 24);
                document.getElementsByName('time0')[0].value = moment(startDate).format('yyyy-MM-DDThh:mm');
                document.getElementsByName('time1')[0].value = moment(now).format('yyyy-MM-DDThh:mm');
                break;
            }

            case '5': {
                startDate.setDate(startDate.getDate() - 30);
                document.getElementsByName('time0')[0].value = moment(startDate).format('yyyy-MM-DDThh:mm');
                document.getElementsByName('time1')[0].value = moment(now).format('yyyy-MM-DDThh:mm');
                break;
            }
        }
    });

    var data = {
        labels: [],
        datasets: [{
            label: 'My First dataset',
            backgroundColor: ['rgb(83,95,201)', 'rgb(255,0,0)'],
            borderColor: ['rgb(83,95,201)', 'rgb(255,0,0)'],
            data: []
        }]
    };
    var config = {
        type: 'doughnut',
        data: data
    };
    var myChart = new Chart(document.getElementById('myChart'), config);

    function sendAjaxForm(form_ajax) {
        var form = $("#" + form_ajax);
        var arrForm = form.serializeArray();
        var validate;
        arrForm.forEach(function (item) {
            if ((item === null || item === void 0 ? void 0 : item.value.length) > 0) {
                validate = true;
            }
        });

        if (validate) {
            $.ajax({
                type: form.attr('method'),
                url: form.attr('action'),
                data: form.serialize(),
                success: function success(response) {
                    $('table').html(response.data);
                    myChart.data.labels = ['Response', 'All'];
                    myChart.data.datasets[0].data = [response.resp_count, response.db_count - response.resp_count];
                    myChart.update();
                },
                error: function error(_error) {
                    console.log(_error);
                }
            });
        } else {
            $.ajax({
                type: 'POST',
                url: '/',
                data: 'validate=true',
                success: function success(response) {
                    $('table').html(response.data);
                    myChart.data.labels = [];
                    myChart.data.datasets[0].data = [];
                    myChart.update();
                },
                error: function error(_error2) {
                    console.log(_error2);
                }
            });
        }
    }


</script>
{% endblock %}