<caption>Количество строк: {{ result | length }}</caption>
<thead>
<tr>
    <th scope="col">№</th>
    <th scope="col">Дата и время</th>
    <th scope="col">host</th>
    <th scope="col">device_vendor</th>
    <th scope="col">signature_id</th>
    <th scope="col">extension</th>
</tr>
</thead>
<tbody>
{% for el in result %}
<tr>
    <td>{{ loop.index }}</td>
    <td>{{ el[1] }}</td>
    <td>{{ el[3] }}</td>
    <td>{{ el[5] }}</td>
    <td>{{ el[8] }}</td>
    <td>{{ el[11] }}</td>
</tr>
{% endfor %}
</tbody>